@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
body{
    font-family: "Poppins", sans-serif;
}


h1{
    color:rgb(133, 10, 163);
}
.time-detalhe{ 
   color: red;
}
h2{
    margin: 0px;

    
}

.time{
    width: 400px; /*Largura da div de 400 px fixos*/
    border: solid rgb(160, 158, 147) 1px;
    padding: 30px; /*distancia entre o conteúdo e a borda*/
    margin: 20px; /*distancia que temos entre dois elementos*/
}

#cru{
    color: rgb(32, 45, 221);
}
#cam{
    color: rgb(143, 137, 137);

}
#amg{
    color: rgb(20, 107, 13);
}

.img-time{
    width: 200px;
}